import env

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'yoursecretkey'

if env.TEST_ENV:
    IV_DATABASE = 'microbedb'
    DATABASE_USER = 'yourusername'
    DATABASE_PASSWORD = 'yourpassword'
    DATABASE_HOST = 'dbhost'
elif env.PROD_ENV:
    IV_DATABASE = 'microbedb'
    DATABASE_USER = 'yourusername'
    DATABASE_PASSWORD = 'yourpassword'
    DATABASE_HOST = 'dbhost'
else:
    # DEV_ENV
    IV_DATABASE = 'microbedb'
    DATABASE_USER = 'yourusername'
    DATABASE_PASSWORD = 'yourpassword'
    DATABASE_HOST = 'localhost'

DATABASE_PORT = '3306'
